<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add a Course</title>
</head>
<body>
    <!--<div sec:authorize="isAuthenticated()">-->
    <div>
        <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <h2>Add a Course</h2>
    <div>
        <form id="addCourse" th:action="@{/admin/addCourse}" method="post">
            <div><input placeholder="Course id" type="text" id="courseId" name="courseID"/></div>
            <div><input placeholder="Course name" type="text" id="courseName" name="courseName"/></div>
            <div><input type="submit" value="Add Course"/></div>
        </form>
    </div>
    <div><span th:text="${feedback}">Feedback here</span></div>
</body>
</html>