<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Question Manager</title>
<script src="../../static/styles/cssandjs/generateQuestion.js"></script>
</head>
<body onload="call_alert()">
	<form id="questionForm" th:action="@{/course/question/create(id=${course.id})}" method="post">
		<label for="questionTitle"> Question Title:</label>
		<input id="questionTitletype="text" name="questionTitle"/>
		<label for="questionText"> Question Text:</label>
		<input id="questionText" type="text" name="questionText"/>
		<select id="questionType" onchange="generateQuestions(this.selectedIndex)">
			<option selected="selected" disabled="disabled" value="">Select type:</option>
			<option value ="TEXT">Text</option>
			<option value ="NUMBER">Number</option>
			<option value ="MCQ">MCQ</option>
			<option value ="CHECKBOX">Checkbox</option>
		</select>
	</form>

</body>
</html>