<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>CSCI5308 - Group Formation Tool</title>
    <link th:href="@{/styles/cssandjs/normalize.css}" rel="stylesheet" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div class="mainGridCentreInfoBox" th:if="${errorMessage}">
    <h3 class="errorInfo" th:text="${errorMessage}"></h3>
</div>
<div th:if="${groups}">
<ol th:each="group, itr : ${groups}" style="list-style: none;">
	<li>
    <table border="1">
        <thead>
        <tr>
            <th>Group No.</th>
            <th>Banner Id</th>
            <th>Last Name</th>
            <th>First Name</th>
            <!-- <th>Responses</th> -->
        </tr>
        
        <tr th:each="student : ${group.students}">
            <td>
                <span th:text="${group.groupID}"></span>
            </td>
            <td>
                <span th:text="${student.bannerID}"></span>
            </td>
            <td>
                <span th:text="${student.lastName}"></span>
            </td>
            <td>
                <span th:text="${student.firstName}"></span>
            </td>
          <!--   <td>
                <span th:text="${val.responses}"></span>
            </td> -->
 			</tr>
 
    </table>
    </li>
    </ol>
</div>
<div>
<br>
<br>
<a href="/">Home</a>
</div>
</body>
</html>