<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<title>CSCI5308 - Group Formation Tool</title>
	</head>
	<body>
		<!-- I got the idea for how to do this from https://www.thymeleaf.org/doc/articles/springsecurity.html -->
	  	<div sec:authorize="isAuthenticated()">
	       <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
	       <form th:action="@{/logout}" method="post">
	           <input type="submit" value="Sign Out"/>
	       </form>
		</div>
			<div class="mainGridCentreInfoBox" th:if="${errorMessage}">
					<h3 class="errorInfo" th:text="${errorMessage}"></h3>
		</div>
		<div th:if="${course}">
			<h1 th:text="'Course: ' + ${course.title}">Course: Title Not Found</h1>
			<div th:if="${student}">
				<br/>
				<a th:href="@{/survey(courseID=${course.id})}">Give Survey</a>
			</div>
			<br/>
			<div th:if="${instructor} or ${ta}">
				<br/>
				<a th:href="@{/surveymanager(courseID=${course.id})}">Create Survey</a>
			</div>
			<div th:if="${instructor} or ${ta}">
				<br/>
				<a th:href="@{/course/instructoradmin(id=${course.id})}">Course Administration</a>
			</div>
			<div th:if="${instructor} or ${ta}">
				<br/>
				<a th:href="@{/question/questionmanager/title(id=${course.id})}">Question Manager</a>
			</div>
			<div th:if="${instructor} or ${ta}">
			<br/>
			<a th:href="@{/groupformation/criteria(id=${course.id},bannerID=${#httpServletRequest.remoteUser})}">Create Criteria and Form Groups</a>
		</div>
		</div>
	</body>
</html>
