<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head> <title>Change Password</title> </head>
<body>
<center>
    <h2>Enter new password:</h2>
    
    <div class="mainGridCentreInfoBox" th:if="${errorMessage}">
			<h3 class="errorInfo" th:text="${errorMessage}"></h3>
		</div>
		
	
    <form th:action="@{/changePassword}" method="post">
        <table>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input  type="password" name="password"></input></td>
            </tr>
            <tr>
                <td><input type="reset" value="Clear"/></td>
                <td><input type="submit" value="submit" id="password"></input></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>