<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="https://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
    <head>
        <title>CSCI5308 - Group Formation Tool</title>
        <!-- Normalize.css by Nicolas Gallagher, used from https://necolas.github.io/normalize.css/
    Necessary to reset some default browser styles for consistent appearance across browsers. -->
        <link th:href="@{/styles/cssandjs/normalize.css}" rel="stylesheet" />
        <!-- This file includes all default styles for this application. -->
        <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    </head>
    <body class="bodyGridContainer">
        <header class="bodyGridRow headerGridContainer">
            <h1>CSCI5308 Group Formation Tool</h1>
        </header>
    <!-- I got the idea for how to do this from https://www.thymeleaf.org/doc/articles/springsecurity.html -->
        <div class="bodyGridRow userProfileGridContainer" sec:authorize="isAuthenticated()">
            <h4 class="userProfileGridCol1" th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
            <form class="userProfileGridCol4" th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <main class="bodyGridRow mainGridContainer">
            <aside class="mainGridRow welcomeInfoBox">
              <h2>Course Administration Page</h2>
            </aside>
        <div>
            <table>
                <tr th:each="question : ${questions}">
                    <td><a th:href="@{/course/course(id=${question.id})}" th:text="${course.title}">Title</a></td>
                    <td><a th:href="@{/admin/assigninstructor(id=${course.id})}">Assign Instructor</a>
                    <td><a th:href="@{/admin/deletecourse(id=${course.id})}">Delete</a></td>
                </tr>
            </table>
        </div>
        </main>
        <footer class="bodyGridRow footerGridContainer">
            <p><strong>CSCI5308 (Advanced Topics in Software Development)</strong> is a graduate course offered for students enrolled in the <a href="https://www.dal.ca/macs" target="_blank">Master of Applied Computer Science (MACS)</a> at the <a href="https://www.dal.ca/cs" target="_blank">Faculty of Computer Science</a>, <a href="https://www.dal.ca" target="_blank">Dalhousie University</a>.</p>
        </footer>
    </body>
</html>